body {
	background: $body-color;
	color: $body-text-color;
	text-align: center;
}

.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

a {
	text-decoration: none;
	display: inline-block;
	font-family: Handlee, cursive;
	font-size: 3em;
	color: $white;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 0.5em;
	border-bottom: 5px solid $white;
	transition: all ease-in-out 200ms;
	&:hover {
		color: darken( $blue, 10% );
		border-bottom: 5px solid darken( $blue, 10% );
	}
}