<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="/a/css/main.css" />
            <title>Hello Silex World</title>
        {% endblock %}
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    <script type="text/javascript" src="/a/js/commons.js" />
    <script type="text/javascript" src="/a/js/home.js" />
</html>